@import "tailwindcss";

@theme {
    --font-sans: 'Inter', 'Instrument Sans', ui-sans-serif, system-ui;
    
    /* Warna Dominan Baru */
    --color-premium-blue: #053477;
    --color-averroes-yellow: #FACC15;
}

/* Custom Premium Effects */
.glass-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-gradient {
    background: linear-gradient(to right, #ffffff, #FACC15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bento-inner {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.bento-inner:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}