@import "tailwindcss";

@theme {
    /* Mendefinisikan warna identitas Averroes Community */
    --color-navy: #0A192F;
    --color-yellow-averroes: #FACC15;
}

/* Custom CSS untuk efek Glassmorphism pada Navbar */
.glass-nav {
    background: rgba(10, 25, 47, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

/* Animasi mengapung untuk elemen visual */
@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.animate-float {
    animation: floating 4s ease-in-out infinite;
}